@font-face {
  font-family: "Abetka Kirnarskoho";
  src: url(fonts/Abetka/Abetka_Kirnarskoho.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url(fonts/Andika/Andika-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url(fonts/Andika/Andika-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url(fonts/Andika/Andika-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Andika";
  src: url(Andika-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}